body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: pink;
    font-family: Gill Sans;
}

#kitty {
    position: absolute;
    height: 100vh;
    width: 56vw;
    left: -60px;
    bottom: -25px;
    transform: rotate(13deg);
    
    background-image: linear-gradient(to top, rgba(255, 192, 203, 0.5), transparent), url("media/hane.png");
    background-size: 105%;
    background-repeat: no-repeat;
}

table {
    height: 66vh;
    width: 33vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-collapse: separate;
    border-spacing: 10px;
    color: rgb(251, 208, 215);
    /* border: solid 1px black; */
    /* border-collapse: collapse; */
}

td {
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 30px;
    border-radius: 10px;
}

#navbar {
    background-color: rgb(255, 244, 244);
    opacity: 0.9;
    border-radius: 10px;
    height: 50px;
    width: 33vw;
    padding: 10px;
    position: relative;
    top: 75px;
    left: 50%;
    transform: translate(-50%, -50%);
}

#newGame {
    position: absolute;
    right: 40px;
    top: 15px;
    font-size: 16px;
    color: crimson;
    background-color: pink;
    border: none;
    border-radius: 10px;
    outline: none;
    box-shadow: none;
    user-select: none;
}

#timer {
    font-size: 24px;
    left: 25px;
    
    position: absolute;
}

#moves {
    position: absolute;
    top: 42px;
    left: 35px;
}

#sfx {
    position: absolute;
    right: 45px;
    top: 43px;
    outline: none;
    box-shadow: none;
    user-select: none;
}
